{% extends 'src/Delivery/ToChecking/SourceCode/Masters/simple.html' %}

{% block content %}
<section class="section dashboard">
    <div class="row">
        <div class="col">
            <h3>Delivery
            </h3>
        </div>
    </div>
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row d-flex flex-wrap">
                <!-- Sales Card -->
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Added <span>| Today</span></h5> -->
                            <a href="./CheckOrder.html">

                                <h5 class="card-title">Check</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <a href="./Delivery.html">

                                <h5 class="card-title">Settlement</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <!-- <i class="bi bi-currency-dollar"></i> -->
                                        <i class="bi bi-receipt"></i>

                                    </div>
                                    <div class="ps-3">
                                        <h6>Count</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><!-- End Revenue Card -->

                <!-- Customers Card -->
                <div class="col-12 col-lg-4 col-md-6">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <a href="./DeliveryAddItems.html">

                                <h5 class="card-title">Delivery</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <!-- <i class="bi bi-people"></i> -->
                                        <i class="bi bi-bag-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1244</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">decrease</span>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div><!-- End Customers Card -->
            </div>
        </div><!-- End Left side columns -->
    </div>
</section>
{% endblock %}

{% block js %}
<!-- <script type="module" src="../Js/pages/Index/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/Index/StartFunc.js"></script>
{% endblock %}