{% extends 'src/Factory/ToFactory/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">DC QRPrint</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">DC QRPrint</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Laundry/Branch/NewOrders/HtmlFiles/Customer.html">Home</a></li>
            <li class="breadcrumb-item"><a href="index.html">ToFactory</a></li>
            <li class="breadcrumb-item active">QRPrint</li>
        </ol>
    </nav>
</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>
<table id="table">
    <thead>
        <tr>
            <th data-formatter="jFGlobalSerialColumn">#</th>
        </tr>

    </thead>
</table>
{% endblock %}

{% block js %}

<!-- <div class="modal fade" id="ModalForQrCodeOnly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dc QrCode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ModalBodyorQrCodeOnly">
                <div class="row">
                    <div style="text-align: center;" class="col">
                        <canvas id="CanvasId" width=50 height=50
                            style="border:1px solid #fff;visibility:hidden"></canvas>
                        <div>
                            <b id="BranchName">
                                {{VoucherNumber}}<br>
                                {{Branch}}
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="printJS('ModalBodyorQrCodeOnly', 'html')">Print</button>
            </div>
        </div>
    </div>
</div> -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/extensions/export/bootstrap-table-export.min.js"></script>

<script src="../assets/static/vendor/bwip-js-min.js"></script>
<script src="../assets/static/vendor/print.min.js"></script>

<!-- <script type="module" src="../Js/pages/ToFactoryQRPrint/StartFunc.js"></script> -->

<script type="module" src="../Js/pages/ToFactoryQRPrint/StartFunc.js"></script>
{% endblock %}