{% extends 'src/Factory/FromFactory/PressingReturnQrCodes/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">All Items</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">All Items</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Laundry</a></li>
            <li class="breadcrumb-item">Branch</li>
            <li class="breadcrumb-item">Factory</li>           
            <li class="breadcrumb-item">FromFactory</li>
            <li class="breadcrumb-item">PressingReturnQrCodes</li>
                <li class="breadcrumb-item">Pending</li>
            <li class="breadcrumb-item active">Show</li>
        </ol>
    </nav>
</div>
<div class="page-heading">
    <!--  Inverse table start -->
    <section class="section">
        <div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <table class="table mb-0" id="table">
            <thead>
                <tr>
                    <th data-formatter="jFGlobalSerialColumn">#</th>
                </tr>

            </thead>
        </table>
    </section>
    <!-- Inverse table end -->
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="module" src="../Js/pages/QRPendingShow/StartFunc.js"></script>


{% endblock %}